@tailwind components;

@layer components {
  .DropDownContentHidden {
    visibility: hidden;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    -webkit-animation: fadeOutToNone 0.2s ease-in-out;
    -moz-animation: fadeOutToNone 0.2s ease-in-out;
    -o-animation: fadeOutToNone 0.2s ease-in-out;
    animation: fadeOutToNone 0.2s ease-in-out;
  }

  .DropDownContentShow {
    visibility: visible;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    -webkit-animation: fadeInFromNone 0.2s ease-in-out;
    -moz-animation: fadeInFromNone 0.2s ease-in-out;
    -o-animation: fadeInFromNone 0.2s ease-in-out;
    animation: fadeInFromNone 0.2s ease-in-out;
  }
}
