@tailwind components;

@layer components {
  .AutoCompleteContentHidden {
    visibility: hidden;
    -webkit-animation: fadeOutToNone 0.2s ease-in-out;
    -moz-animation: fadeOutToNone 0.2s ease-in-out;
    -o-animation: fadeOutToNone 0.2s ease-in-out;
    animation: fadeOutToNone 0.2s ease-in-out;
  }

  .AutoCompleteContentShow {
    visibility: visible;
    -webkit-animation: fadeInFromNone 0.2s ease-in-out;
    -moz-animation: fadeInFromNone 0.2s ease-in-out;
    -o-animation: fadeInFromNone 0.2s ease-in-out;
    animation: fadeInFromNone 0.2s ease-in-out;
  }
}
